#occH2 {
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 52px;
    letter-spacing: -2px;
    padding-bottom: 20px;
}

#occImgContainer {
    position: relative;
    width: 25%;
    margin: 10px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 80px;
    padding-bottom: 20px;
}

#occImage {
    display: block;
    width: 100%;
    margin: auto;
    border-radius: 0.5rem;
    color: black;
    filter: drop-shadow(.5rem .5rem .5rem rgb(242, 132, 130));
}

#occTitle {
    font-size: 30px;
    font-weight: bold;
}

@media (max-width: 1245px) {
    #occTitle {
        font-size: 20px; 
    }
}