.singleContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}

.left-column {
  width: 40%;
  position: relative;
}

.right-column {
  width: 50%;
  margin-top: 60px;
  margin-left: 40px;
  background-color: rgba(246, 189, 96, 0.50);
  border-radius: 12px;
}

.bouquetImg {
  width: 80%;
  height: 100%;
  margin: auto;
  border-radius: 0.5rem;
  color: black;
  filter: drop-shadow(.5rem .5rem .5rem rgb(242, 132, 130));
}

.bouquetDescription {
  margin-bottom: 20px;
  padding: 20px;
}

.bouquetDescription h2 {
  font-weight: 300;
  font-size: 52px;
  letter-spacing: -2px;
  padding-bottom: 10px;
}

.bouquetDescription p {
  font-size: 18px;
  font-weight: 400;
  color: black;
  line-height: 24px;
}

.bouquetPrice {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: larger;
  padding-left: 20px;

}

.bouquetPrice span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}

#cartBtnTxt {
  display: inline-block;
  border-radius: 6px;
  font-size: 16px;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}

@media (max-width: 1100px) {
  .singleContainer {
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
  }

  .left-column,
  .right-column {
    flex-direction: column;
  }

  .left-column {
    width: 100%;
  }

  .right-column {
    text-size-adjust: auto;
    width: 90%;
    justify-content: center;
  }

  .bouquetDescription {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
  }

  .bouquetDescription h2 {
    display: flex;
    justify-content: center;
  }

  .bouquetDescription p {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
  }

  .bouquetPrice {
    justify-content: center;
    margin-right: 15px;
  }

  #cartBtn {
    display: flex;
    justify-content: center;
  }

  #cartBtnTxt {
    display: flex;
    width: 50%;
    justify-content: center;
  }

  .bouquetImg {
    position: relative;
    display: flex;
    width: 50%;
    height: 80%;
    border-radius: 0.5rem;
    color: black;
    filter: drop-shadow(.5rem .5rem .5rem rgb(242, 132, 130));
  }


}

@media (max-width: 535px) {
  .left-column {
    width: 100%;
    margin-bottom: -40px;
  }

  .bouquetDescription p {
    margin-bottom: -20px;
  }  

  .bouquetPrice {
    margin-right: 10px;
  }
}