.about {
    /* display: flex;
    flex-direction:column; */
    border: 4px solid #f28482;;
    border-radius: 8px;
    padding: 1.3rem;
    margin: 5% auto;
    width: 50rem;
    
}

#aboutUs {
    margin: 2% 3%;
    display: flex;
    justify-content: center;}

.about div {
    display: flex;
    margin: 4%;
    padding: 1.5%;
    line-height: 1.3rem;
    color: #f28482;
    font-size: 1.3rem;
}