.header {
    --yellow: rgb(246, 189, 96);
    --offwhite: rgb(247, 237, 226);
    --lightpink: rgb(245, 202, 195);
    --pink: rgb(242, 132, 130);
    --red: rgb(188, 44, 26);
    --black: rgb(25, 23, 22);
  }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 6rem 1rem 1rem 1rem;
    width: 100%;
    height: 90px;
    z-index: 10;
}


.nav-menu {
    display: flex;
}
.nav-menu li {
    padding: 0 1rem;
}

.nav-menu li a {
    font-size: 1.2rem;
    font-weight: 500;
}

.nav-menu li a:hover {
    color: var(--red);
    transition: 0.5s;
}

.hamburger {
    display: none;
}


@media screen and (max-width: 1040px) {
    .nav-menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 0;
        left: -100%;
        transition: 0.5s;
    }

    .nav-menu.active {
        left: 0;
        z-index: 3;
    }
    .nav-menu li {
        padding: 2rem 0; 
    }

    .nav-menu li a {
        font-size: 2.5rem;
    }

    .hamburger {
        display: initial;
        z-index: 3;
    }
}